# Виртуальное окружение
venv/
env/
.env

# Файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Файлы PyCharm
.idea/
*.iml

# Логи и базы данных
*.log
*.sqlite3

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы настроек
*.ini
*.conf

# Временные файлы
*.bak
*.swp
*.swo
*~

# Файлы дистрибуции
dist/
build/
*.egg-info/